@font-face {
    font-family: 'EF_cucumbersalad';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_cucumbersalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KartriderExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/KartriderExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

.ss{
    color:aqua;
    background-color: black;
    width: 530px;
    font-family: 'KartriderExtraBold';
}
   .f{
    color:aqua;
    background-color:black;
    width: 150px;
    font-family: 'EF_cucumbersalad';

   } 

   .ff{
    color:aqua;
    background-color:black;
    width: 100px;
    font-family: 'EF_cucumbersalad';
}
